body{
  font-family: 'Ubuntu';
  width: 100%;
  margin: 0;
  padding: 0;
  color: #666;
}

#infovis{
  position: relaitve;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

li{
  list-style-type: none;
}