body{
  font-family: 'Ubuntu';
  font-weight: bolder;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #111;
  text-shadow: #fff 0 0 5px;
}

a{
    color: #c33;
    text-decoration: none;
}
a:hover{
    color: #e55;
}

#text{
    position: absolute;
    top: 0;
    margin: 5px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

h1{
    position: fixed;
    top: 5px;
    left: 5px;
    font-family: carbon-type;
    font-size: 30px;
    margin: 0;
}
#strap{
    position: fixed;
    font-style: italic;
    top: 40px;
    left: 5px;
}
#title{
    position: fixed;
    top: 35px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    text-align: center;
    font-size: 20px;
}
#message{
    position: fixed;
    top: 5px;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #aaa;
}
#load{
    position: fixed;
    top: 5px;
    right: 5px;;
    font-size: 20px;
}

#infovis{
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.rd_tip{
    max-width: 700px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
}

#more{
    width: 600px;
    position: fixed;
    left: 50%;
    margin-left: -300px;
    top: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    z-index: 100;
}

#bottom{
    position: fixed;
    bottom: 5px;
    width: 100%;
    z-index: 100;
    font-size: 12px;
    
}

#info{
    position: fixed;
    bottom: 5px;
    left: 5px;
}
#author{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
